
<!-- <div id="navcheck"></div>

<nav id="menu">
    <a href="#">Lorem.</a>
    <a href="#">Nesciunt!</a>
    <a href="#">Magnam.</a>
    <a href="#">Ipsum.</a>
    <a href="#">Voluptatem.</a>
    <a href="#">Quibusdam.</a>
</nav> -->

<div [@slider]="page" class="slider-container" style="margin: 20px 10px;">
    <div class="slide" *ngFor="let image of images"> <img [src]="image" /> </div>
 </div>

 <button (click)="previous()" class="btn btn-default">Previous</button>
 <button (click)="next()" class="btn btn-default">Next</button>
<!--
<div [@slider]="page">

    <div class="pages page-1">
        <div class="page-item" style="background-image: url('/assets/images/dsd-logo.png');">
        </div>
        <div class="page-item" style="background-image: url('/assets/images/wedding/cakes/cake1.jpg')">
        </div>
        <div class="page-item" style="background-image: url('/assets/images/wedding/cakes/cake3.jpg')">
        </div>
        <div class="page-item" style="background-image: url('/assets/images/wedding/cakes/cake2.jpg')">
        </div>
        <div class="page-item" style="background-image: url('/assets/images/wedding/cakes/cake1.jpg')">
        </div>
        <div class="page-item" style="background-image: url('/assets/images/wedding/cakes/cake1.jpg')">
        </div>
        <div class="page-item" style="background-image: url('/assets/images/wedding/cakes/cake2.jpg')">
        </div>
        <div class="page-item" style="background-image: url('/assets/images/wedding/cakes/cake1.jpg')">
        </div>
        <div class="page-item" style="background-image: url('/assets/images/wedding/cakes/cake3.jpg')">
        </div>
        <div class="page-item" style="background-image: url('/assets/images/wedding/cakes/cake1.jpg')">
        </div>
        <div class="page-item">
            <img src="/assets/icons/wedding-cake.png" alt="Wedding Cake" width="50%" class="img-icon">
        </div>
        <div class="page-item" style="background-image: url('/assets/images/wedding/cakes/cake1.jpg')">
        </div>
        <div class="page-item page-social-media" style="background-image: url('')">
            <a href="#">
                <i class="fi-social-facebook"></i>
            </a>
            <a href="#">
                <i class="fi-social-instagram"></i>
            </a>
        </div>
        <div class="page-item page-nav page-nav-prev" style="background-image: url('')" (click)="previous()">
            <i class="material-icons page-nav-icon-prev">arrow_back</i>
            <h5 class="page-nav-title">Bem Casado</h5>
        </div>
        <div class="page-item page-nav page-nav-next" style="background-image: url('')" (click)="next()">
            <i class="material-icons page-nav-icon-next">arrow_forward</i>
            <h5 class="page-nav-title">Sweets</h5>
        </div>
        <h2 class="page-item page-name">Weddings</h2>
        <h3 class="page-item page-title">Cakes</h3>
        <p class="page-item page-text">A reet bobbydazzler a right toff Sherlock Queen Elizabeth Shakespeare</p>
    </div>
    
    <div class="pages page-2">
        <div class="page-item" data-direction="ttb">
            <img src="/assets/images/dsd-logo.png" width="100%"/>
        </div>
        <div class="page-item" data-direction="ttb">
            <img src="/assets/images/wedding/cakes/cake1.jpg" width="100%"/>
        </div>
        <div class="page-item" style="background-image: url('')">
            <img src="/assets/images/wedding/cakes/cake3.jpg" width="100%"/>
        </div>
        <div class="page-item" style="background-image: url('')">
            <img src="/assets/images/wedding/cakes/cake3.jpg" width="100%"/>
        </div>
        <div class="page-item" style="background-image: url('')">
            <img src="/assets/images/wedding/cakes/cake2.jpg" width="100%"/>
        </div>
        <div class="page-item" style="background-image: url('')">
            <img src="/assets/images/wedding/cakes/cake1.jpg" width="100%"/>
        </div>
        <div class="page-item" style="background-image: url('')">
            <img src="/assets/images/wedding/cakes/cake2.jpg" width="100%"/>
        </div>
        <div class="page-item" style="background-image: url('')">8</div>
        <div class="page-item" style="background-image: url('')">9</div>
        <div class="page-item" style="background-image: url('')"></div>
        <div class="page-item" style="background-image: url('')" >
            <img src="/assets/icons/wedding-cake.png" alt="Wedding Cake" width="50%" class="img-icon">
        </div>
        <div class="page-item" style="background-image: url('')">12</div>
        <div class="page-item page-social-media" style="background-image: url('')">
            <a href="#">
                <i class="fi-social-facebook"></i>
            </a>
            <a href="#">
                <i class="fi-social-instagram"></i>
            </a>
        </div>
        <div class="page-item page-nav page-nav-prev" style="background-image: url('')" (click)="previous()">
            <i class="material-icons page-nav-icon-prev">arrow_back</i>
            <h5 class="page-nav-title">Cakes</h5>
        </div>
        <div class="page-item page-nav page-nav-next" style="background-image: url('')" (click)="next()">
            <i class="material-icons page-nav-icon-next">arrow_forward</i>
            <h5 class="page-nav-title">Bem Casado</h5>
        </div>
        <h2 class="page-item page-name">Weddings</h2>
        <h3 class="page-item page-title">Sweets</h3>
        <p class="page-item page-text">A reet bobbydazzler a right toff Sherlock Queen Elizabeth Shakespeare</p>
    </div>

</div>
-->
