
<!-- <div id="navcheck"></div>

<nav id="menu">
    <a href="#">Lorem.</a>
    <a href="#">Nesciunt!</a>
    <a href="#">Magnam.</a>
    <a href="#">Ipsum.</a>
    <a href="#">Voluptatem.</a>
    <a href="#">Quibusdam.</a>
</nav> -->

<div class="wrapper">

    <div class="pages page-1 page-current">
        <div class="page-item hasImage" data-delay="150" data-direction="ttb">1</div>
        <div class="page-item hasImage" data-delay="300" data-direction="ttb">2</div>
        <div class="page-item hasImage" data-delay="200" data-direction="ttb">
            <ngx-carousel
            [inputs]="carouselCupcake"
            (carouselLoad)="myfunc($event)">
                <ngx-item NgxCarouselItem>
                    <div style="background: url('/assets/images/bem-casado.jpg')" class="img-responsive"></div>
                </ngx-item>
                <ngx-item NgxCarouselItem>
                    <div style="background: url('/assets/images/cake-2.jpg')" class="img-responsive"></div>
                </ngx-item>
                <button NgxCarouselPrev class='leftRs'>&lt;</button>
                <button NgxCarouselNext class='rightRs'>&gt;</button>
            </ngx-carousel>
        </div>
        <div class="page-item hasImage" data-delay="40" data-direction="ttb">4</div>
        <div class="page-item hasImage" data-delay="70" data-direction="ttb">
            5
        </div>
        <div class="page-item hasImage" data-delay="100" data-direction="ttb">6</div>
        <div class="page-item" data-delay="250" data-direction="ttb">7</div>
        <div class="page-item" data-delay="350" data-direction="ttb">8</div>
        <div class="page-item" data-delay="400" data-direction="ttb">9</div>
        <div class="page-item" data-direction="ttb"></div>
        <div class="page-item" data-delay="20" data-direction="ttb" >
            <img src="/assets/icons/wedding-cake.png" alt="Wedding Cake" width="50%" class="img-icon">
        </div>
        <div class="page-item" data-delay="500" data-direction="ttb">12</div>
        <div class="page-item page-social-media" data-delay="120" data-direction="ttb">
            <a href="#">
                <i class="fi-social-facebook"></i>
            </a>
            <a href="#">
                <i class="fi-social-instagram"></i>
            </a>
        </div>
        <div class="page-item page-nav page-nav-prev" data-direction="ttb">
            <i class="material-icons">arrow_back</i>
        </div>
        <div class="page-item page-nav page-nav-next" data-direction="ttb">
            <i class="material-icons">arrow_forward</i>
        </div>
        <h2 class="page-item page-name">Wedding<br/> Cake</h2>
        <h3 class="page-item page-title">Belfast</h3>
        <p class="page-item page-text">A reet bobbydazzler a right toff Sherlock Queen Elizabeth Shakespeare</p>
    </div>

</div>
