
<div class="wrapper grid">
  
  <div class="menu grid"></div>
  <div class="insta grid"></div>
  <div class="face grid"></div>
  <div class="logo grid"></div>
  <div class="image-bottom grid"></div>
  <div class="image-top grid"></div>
  <div class="slider grid"></div>

  <div class="menu-2 grid"></div>
  <div class="insta-2 grid"></div>
  <div class="face-2 grid"></div>
  <div class="logo-2 grid"></div>
  <div class="image-bottom-2 grid"></div>
  <div class="image-top-2 grid"></div>
  <div class="slider-2 grid"></div>

</div>


<!-- 
  <div id="navcheck"></div>

<nav id="menu">
  <a href="#">Lorem.</a>
  <a href="#">Nesciunt!</a>
  <a href="#">Magnam.</a>
  <a href="#">Ipsum.</a>
  <a href="#">Voluptatem.</a>
  <a href="#">Quibusdam.</a>
</nav>

<div class="wrapper grid">
  <div class="menu grid">
      <div class="wrapper-menu">
          <div class="line-menu half start"></div>
          <div class="line-menu"></div>
          <div class="line-menu half end"></div>
      </div>
  </div>
  <div class="insta grid">
      <a href="#" class="self-center">
          <i class="fi-social-instagram large"></i>
      </a>
  </div>
  <div class="face grid">
      <a href="#" class="self-center">
          <i class="fi-social-facebook large"></i>
      </a>
  </div>
  <div class="logo grid">
      <img src="dsd-logo.png" class="self-center" width="100%">
  </div>

  <div class="image-bottom grid first-image">
      <div style="background: url('bem-casado.jpg')" class="image"></div>
      <div class="text">Bem Casado</div>
  </div>

  <div class="image-top grid first-image">
      <div style="background: url('cake.jpg')" class="image"></div>
      <div class="text">Cake</div>
  </div>

  <div class="slider grid">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          </ol>
          <div class="carousel-inner">
              <div class="carousel-item active">
                  <div style="background: url('cake-2.jpg')" class="image h-100"></div>
                  <div class="carousel-caption d-none d-md-block">
                      <h3>Cake 2</h3>
                      <p>Cake 2</p>
                  </div>
              </div>
              <div class="carousel-item">
                  <div style="background: url('cake.jpg')" class="image h-100"></div>
                  <div class="carousel-caption d-none d-md-block">
                      <h3>Cake</h3>
                      <p>Cake</p>
                  </div>
              </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
          </a>
      </div>
  </div>


  <div class="menu-2">
  </div>
  <div class="insta-2">
  </div>
  <div class="face-2">
  </div>
  <div class="logo-2">
  </div>
  <div class="image-bottom-2">
  </div>
  <div class="image-top-2">
  </div>
  <div class="slider-2">
  </div>
  
</div>

-->