@import '~assets/scss/palette';
@import '~assets/scss/variables';

.pages {
    display: grid;
    width: calc(100% - 6em);
    height: calc(100vh - 6em);
    grid-auto-rows: calc((calc(100vh - 6em) / 30) - #{$grid-gap});
    grid-auto-columns: calc((calc(100% - 6em) / 30) - #{$grid-gap});
    justify-content: center;
    align-content: center;
    grid-gap: $grid-gap;
    pointer-events: auto;
}

/***********************************************
                    GRIDS
***********************************************/

/* PAGES */
.pages {

  position: absolute;
	top: 3em;
	left: 3em;
  opacity: 0;
  pointer-events: none;

  &.page-current {
    opacity: 1;
    pointer-events: auto;
  }

  .page-name,
  .page-title {
    text-transform: uppercase;
    line-height: 0.8;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
  }

  .page-name, {
    font-size: 10rem;
    line-height: 8rem;
    color: $accent-color;
    font-weight: 800;
  }

  .page-title {
    font-size: 2rem;
    -webkit-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
    text-align: right;
    display: flex;
    justify-content: flex-end;
  }

  .page-text {
    font-size: 1.2rem;
    line-height: 1.2;
    display: flex;
  }

  .page-name,
  .page-title,
  .page-text,
  .page-social-media {
    pointer-events: none;
  }

  > .page-item {
    position: relative;
    background-repeat: no-repeat !important;
    background-position: 50% 50%;
    background-size: cover !important;
    transition: transform 0.2s ease-out;
    overflow: hidden;
  }

  .page-nav-prev,
  .page-nav-next {
    cursor: pointer;
    pointer-events: fill;
  }

}

/* Page 1 */
.page-1  {
  
  .page-name { grid-area: 1 / 12 / 30 / 30; }
  .page-title { grid-area: 1 / 27 / 11 / 29; }
  .page-text { grid-area: 22 / 23 / 30 / 26; }
  .page-nav-prev { grid-area: 3 / 6 / 8 / 11; }
  .page-nav-next { grid-area: 24 / 15 / 29 / 20; }

  .page-item {    

    > .banner {
      height: 100%;
    }

    &.hasImage {
      transition: filter 0.3s;
    }

    &.hasImage:hover {
      filter:contrast(100%);
    }

    &:nth-child(1) {
      grid-area: 11 / 1 / 17 / 5;
      background: url('/assets/images/dsd-logo.png');
      background-size: contain;
    }
    &:nth-child(2) {
      grid-area: 22 / 6 / 28 / 10;
      background: url('/assets/images/brigadeiro.jpg');
      background-size: contain;
    }
    &:nth-child(3) {
      grid-area: 8 / 5 / 22 / 15;
    }
    &:nth-child(4) {
      grid-area: 22 / 10 / 29 / 15;
      background: url('/assets/images/dsd-logo.png');
      background-size: contain;
    }
    &:nth-child(5) {
      grid-area: 1 / 11 / 8 / 15;
      background: url('/assets/images/dsd-logo.png');
      background-size: contain;
    }
    &:nth-child(6) {
      grid-area: 17 / 15 / 24 / 20;
      background: url('/assets/images/dsd-logo.png');
      background-size: contain;
    }
    &:nth-child(7) {
      grid-area: 9 / 15 / 17 / 23;
      background: url('/assets/images/dsd-logo.png');
      background-size: contain;
    }
    &:nth-child(8) {
      grid-area: 2 / 18 / 9 / 23;
      background: url('/assets/images/dsd-logo.png');
      background-size: contain;
    }
    &:nth-child(9) {
      grid-area: 17 / 20 / 22 / 26;
      background: url('/assets/images/dsd-logo.png');
      background-size: contain;
    }
    &:nth-child(10) {
      grid-area: 22 / 20 / 28 / 23;
      background: url('/assets/images/cake.jpg');
      background-size: contain;
    }
    &:nth-child(11) {
      grid-area: 4 / 23 / 11 / 27;
      background-color: $square-green;
      align-content: space-around;
      justify-items: center;
    }
    &:nth-child(12) {
      grid-area: 11 / 23 / 17	/ 30;
      background: url('/assets/images/dsd-logo.png');
      background-size: contain;
    }
    &:nth-child(13) {
      grid-area: 17 / 26 / 22 / 28;
      display: grid;
      align-items: center;

      a {

        i {
          font-size: 4rem;
        }

      }

    }

    > .img-icon {
      filter: brightness(0) invert(1);
    }

    div.img-responsive {
      height: inherit;
      width: 100%;
      background-size: cover !important;
    }

    &.page-nav { 
      background-color:  $square-pink;
      display: grid;
      align-content: center;
      justify-items: center;
      grid-template-columns: 1fr 4fr 1fr;
      grid-template-rows: auto;
      grid-template-areas: 
      "page-nav-icon-prev page-nav-title page-nav-icon-next";

      > .page-nav-icon-prev, .page-nav-icon-next {
        display: grid;
        align-self: center;
      }

      > .page-nav-icon-prev {
        grid-area: page-nav-icon-prev;
      }

      > .page-nav-title {
        grid-area: page-nav-title;
      }

      > .page-nav-icon-next {
        grid-area: page-nav-icon-next;
      }
  
    }

  }

}

/* Page 2 */
.page-2  {

  .page-name { grid-area: 16 / 9 / 30 / 30; }
  .page-title { grid-area: 1 / 27 / 11 / 29; }
  .page-text { grid-area: 1 / 5 / 9 / 10; align-items: flex-end; text-align: right;}
  .page-nav-prev { grid-area: 9 / 5 / 14 / 10; }
  .page-nav-next { grid-area: 20 / 24 / 25 / 30; }

  .page-item {

    > .banner {
      height: 100%;
    }

    &.hasImage {
      transition: filter 0.3s;
    }

    &.hasImage:hover {
      filter:contrast(100%);
    }

    &:nth-child(1) {
      grid-area: 17 / 1 / 24 / 5;
    }
    &:nth-child(2) {
      grid-area: 22 / 6 / 28 / 10;
    }
    &:nth-child(3) {
      grid-area: 14 / 5 / 22 / 10;
    }
    &:nth-child(4) {
      grid-area: 17 / 10 / 26 / 15;
    }
    &:nth-child(5) {
      grid-area: 1 / 10 / 17 / 15;
    }
    &:nth-child(6) {
      grid-area: 11 / 15 / 24 / 20;
    }
    &:nth-child(7) {
      grid-area: 5 / 15 / 11 / 18;
    }
    &:nth-child(8) {
      grid-area: 1 / 18 / 11 / 23;
    }
    &:nth-child(9) {
      grid-area: 20 / 20 / 27 / 24;
    }
    &:nth-child(10) {
      grid-area: 24 / 15 / 29 / 20;
    }
    &:nth-child(11) {
      grid-area: 4 / 23 / 11 / 27;
      background-color: $square-green;
      align-content: space-around;
      justify-items: center;
    }
    &:nth-child(12) {
      grid-area: 11 / 20 / 20	/ 30;
    }
    &:nth-child(13) {
      grid-area: 25 / 24 / 29 / 28;
      display: grid;
      align-items: center;

      a {

        i {
          font-size: 4rem;
        }

      }

    }

    > .img-icon {
      filter: brightness(0) invert(1);
    }

    div.img-responsive {
      height: inherit;
      width: 100%;
      background-size: cover !important;
    }

    &.page-nav { 
      background-color:  $square-pink;
      display: grid;
      align-content: center;
      justify-items: center;
      grid-template-columns: 1fr 4fr 1fr;
      grid-template-rows: auto;
      grid-template-areas: 
      "page-nav-icon-prev page-nav-title page-nav-icon-next";

      > .page-nav-icon-prev, .page-nav-icon-next {
        display: grid;
        align-self: center;
      }

      > .page-nav-icon-prev {
        grid-area: page-nav-icon-prev;
      }

      > .page-nav-title {
        grid-area: page-nav-title;
      }

      > .page-nav-icon-next {
        grid-area: page-nav-icon-next;
      }
  
    }

  }

}

/***********************************************
                    MENU
***********************************************/
.wrapper-menu {
    align-self: center;
    justify-self: center;
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 330ms ease-out;
  }
  
  .wrapper-menu.open {
    transform: rotate(-45deg);  
  }

  .line-menu {
    background-color: $primary-color-text;
    box-shadow: 2px 2px $primary-color-dark;
    border-radius: 5px;
    width: 100%;
    height: 6px;
  }
  
  .line-menu.half {
    width: 50%;
  }
  
  .line-menu.start {
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: right;
  }
  
  .open .line-menu.start {
    transform: rotate(-90deg) translateX(3px);
  }
  
  .line-menu.end {
    align-self: flex-end;
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: left;
  }
  
  .open .line-menu.end {
    transform: rotate(-90deg) translateX(-3px);
  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    transform: translate3d(0, 0, 0);
    /* material acceleration */
    transform: translateX(-100%);
    will-change: transform;
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  }
  nav::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 25em;
    background: #9746B8;
    content: '';
    transform: skewX(15deg) translateX(-100%);
    transform-origin: bottom left;
    will-change: transform;
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  }
  @media (min-width: 40em) {
    nav::before {
      width: 40em;
    }
  }
  nav a {
    margin: .5em 0;
    padding: .2em 2em;
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    transform: translateX(-100%);
    transition: color .15s, transform .5s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  }
  nav a:nth-child(1) {
    transition-delay: 0s, 100ms;
  }
  nav a:nth-child(2) {
    transition-delay: 0s, 150ms;
  }
  nav a:nth-child(3) {
    transition-delay: 0s, 200ms;
  }
  nav a:nth-child(4) {
    transition-delay: 0s, 250ms;
  }
  nav a:nth-child(5) {
    transition-delay: 0s, 300ms;
  }
  nav a:nth-child(6) {
    transition-delay: 0s, 350ms;
  }
  nav a:hover, nav a:focus {
    color: black;
  }

  [id="navcheck"].checked ~ nav {
    transform: translateX(0);
  }
  [id="navcheck"].checked ~ nav::before {
    transform: skewX(15deg) translateX(0);
  }
  [id="navcheck"].checked ~ nav a {
    transform: translateX(0);
  }
  [id="navcheck"].checked ~ .wrapper {
    transform: translateX(3em);
    transform-origin: left center;
    -webkit-filter: blur(2px);
    filter: blur(2px);
    /* quite laggy :S */
  }

/***********************************************
                    END MENU
***********************************************/

/***********************************************
 Extra small devices (portrait phones, less than 576px)
***********************************************/
@media (max-width: 575px) {
   
 }

/***********************************************
 Small devices (landscape phones, less than 768px)
***********************************************/
@media (max-width: 767px) { 

 }

/***********************************************
 Medium devices (tablets, less than 992px)
***********************************************/
@media (max-width: 991px) { 
    
 }

/***********************************************
 Large devices (desktops, less than 1200px)
***********************************************/
@media (max-width: 1199px) { 
    
 }



 .slider-container {
  position:relative;
  height: 400px;
  width: 400px;
  overflow:hidden;
  border: 2px solid;
} 
.slide {
  position:absolute;
}