@import '~assets/scss/palette';
@import '~assets/scss/variables';

.pages {
    display: grid;
    width: calc(100% - 6em);
    height: calc(100vh - 6em);
    grid-auto-rows: calc((calc(100vh - 6em) / 30) - #{$grid-gap});
    grid-auto-columns: calc((calc(100% - 6em) / 30) - #{$grid-gap});
    justify-content: center;
    align-content: center;
    grid-gap: $grid-gap;
    position: absolute;
    top: 3em;
    left: 3em;
}

/***********************************************
                    GRIDS
***********************************************/

/* PAGES */
.pages {

  .page-name,
  .page-title,
  .page-text {
    pointer-events: none;
  }

  .page-name,
  .page-title {
    text-transform: uppercase;
    line-height: 0.8;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    white-space: pre-line;
  }

  .page-name, {
    font-size: 10rem;
    line-height: 8rem;
    color: $accent-color;
    font-weight: 800;
  }

  .page-title {
    font-size: 2rem;
    -webkit-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
    text-align: right;
    display: flex;
    justify-content: flex-end;
  }

  .page-text {
    font-size: 1.2rem;
    line-height: 1.2;
    display: flex;
  }

  > .page-item {
    position: relative;
    background-repeat: no-repeat !important;
    background-position: 50% 50%;
    background-size: cover !important;
    transform: translateZ(20px);
    overflow: hidden;

    > .banner {
      height: 100%;
    }

    &.hasImage {
      transition: filter 0.3s;
    }

    &.hasImage:hover {
      filter:contrast(100%);
    }

    > .img-icon {
      filter: brightness(0) invert(1);
    }

    div.img-responsive {
      height: inherit;
      width: 100%;
      background-size: cover !important;
    }

    &.page-nav { 
      background-color:  $square-pink;
      display: grid;
      align-content: center;
      justify-items: center;
      grid-template-columns: 1fr 4fr 1fr;
      grid-template-rows: auto;
      grid-template-areas: 
      "page-nav-icon-prev page-nav-title page-nav-icon-next";
      cursor: pointer;

      > .page-nav-icon-prev, .page-nav-icon-next {
        display: grid;
        align-self: center;
      }

      > .page-nav-icon-prev {
        grid-area: page-nav-icon-prev;
      }

      > .page-nav-title {
        grid-area: page-nav-title;
      }

      > .page-nav-icon-next {
        grid-area: page-nav-icon-next;
      }
  
    }

  }

}

/* Page 1 */
.page-1  {
  
  .page-name { grid-area: 1 / 12 / 30 / 30; }
  .page-title { grid-area: 1 / 27 / 11 / 29; }
  .page-text { grid-area: 22 / 23 / 30 / 26; }
  .page-nav-prev { grid-area: 3 / 6 / 8 / 11; }
  .page-nav-next { grid-area: 24 / 15 / 29 / 20; }

  .page-item {    

    &:nth-child(1) {
      grid-area: 11 / 1 / 17 / 5;
      background-size: contain;
    }
    &:nth-child(2) {
      grid-area: 22 / 6 / 28 / 10;
      background-size: contain;
    }
    &:nth-child(3) {
      grid-area: 8 / 5 / 22 / 15;
    }
    &:nth-child(4) {
      grid-area: 22 / 10 / 29 / 15;
      background-size: contain;
    }
    &:nth-child(5) {
      grid-area: 1 / 11 / 8 / 15;
      background-size: contain;
    }
    &:nth-child(6) {
      grid-area: 17 / 15 / 24 / 20;
      background-size: contain;
    }
    &:nth-child(7) {
      grid-area: 9 / 15 / 17 / 23;
      background-size: contain;
    }
    &:nth-child(8) {
      grid-area: 2 / 18 / 9 / 23;
      background-size: contain;
    }
    &:nth-child(9) {
      grid-area: 17 / 20 / 22 / 26;
      background-size: contain;
    }
    &:nth-child(10) {
      grid-area: 22 / 20 / 28 / 23;
      background-size: contain;
    }
    &:nth-child(11) {
      grid-area: 4 / 23 / 11 / 27;
      background-color: $square-green;
      align-content: space-around;
      justify-items: center;
    }
    &:nth-child(12) {
      grid-area: 11 / 23 / 17	/ 30;
      background-size: contain;
    }
    &:nth-child(13) {
      grid-area: 17 / 26 / 22 / 28;
      display: grid;
      align-items: center;

      a {

        i {
          font-size: 4rem;
        }

      }

    }

  }

}

/* Page 2 */
.page-2  {

  .page-name { grid-area: 16 / 9 / 30 / 30; }
  .page-title { grid-area: 1 / 27 / 11 / 29; }
  .page-text { grid-area: 1 / 5 / 9 / 10; align-items: flex-end; text-align: right;}
  .page-nav-prev { grid-area: 9 / 5 / 14 / 10; }
  .page-nav-next { grid-area: 20 / 24 / 25 / 30; }

  .page-item {

    &:nth-child(1) {
      grid-area: 17 / 1 / 24 / 5;
    }
    &:nth-child(2) {
      grid-area: 22 / 6 / 28 / 10;
    }
    &:nth-child(3) {
      grid-area: 14 / 5 / 22 / 10;
    }
    &:nth-child(4) {
      grid-area: 17 / 10 / 26 / 15;
    }
    &:nth-child(5) {
      grid-area: 1 / 10 / 17 / 15;
    }
    &:nth-child(6) {
      grid-area: 11 / 15 / 24 / 20;
    }
    &:nth-child(7) {
      grid-area: 5 / 15 / 11 / 18;
    }
    &:nth-child(8) {
      grid-area: 1 / 18 / 11 / 23;
    }
    &:nth-child(9) {
      grid-area: 20 / 20 / 27 / 24;
    }
    &:nth-child(10) {
      grid-area: 24 / 15 / 29 / 20;
    }
    &:nth-child(11) {
      grid-area: 4 / 23 / 11 / 27;
      background-color: $square-green;
      align-content: space-around;
      justify-items: center;
    }
    &:nth-child(12) {
      grid-area: 11 / 20 / 20	/ 30;
    }
    &:nth-child(13) {
      grid-area: 25 / 24 / 29 / 28;
      display: grid;
      align-items: center;

      a {

        i {
          font-size: 4rem;
        }

      }

    }

  }

}

/* Page 3 */
.page-3  {
  
  .page-name { grid-area: 17 / 12 / 30 / 30; }
  .page-title { grid-area: 1 / 27 / 11 / 29; }
  .page-text { grid-area: 19 / 5 / 30 / 10;; }
  .page-nav-prev { grid-area: 14 / 5 / 19 / 10; }
  .page-nav-next { grid-area: 6 / 18 / 11 / 23; }

  .page-item {    

    &:nth-child(1) {
      grid-area: 6 / 1 / 14 / 5;
      background-size: contain;
    }
    &:nth-child(2) {
      grid-area: 3 / 5 / 14 / 10;
      background-size: contain;
    }
    &:nth-child(3) {
      grid-area: 14 / 1 / 21 / 5;
    }
    &:nth-child(4) {
      grid-area: 19 / 10 / 28 / 20;
      background-size: contain;
    }
    &:nth-child(5) {
      grid-area: 1 / 10 / 11 / 18;
      background-size: contain;
    }
    &:nth-child(6) {
      grid-area: 11 / 10 / 19 / 15;
      background-size: contain;
    }
    &:nth-child(7) {
      grid-area: 11 / 15 / 19 / 20;
      background-size: contain;
    }
    &:nth-child(8) {
      grid-area: 1 / 18 / 6 / 23;
      background-size: contain;
    }
    &:nth-child(9) {
      grid-area: 20 / 20 / 27 / 24;
      background-size: contain;
    }
    &:nth-child(10) {
      grid-area: 20 / 28 / 25 / 30;
      background-size: contain;
    }
    &:nth-child(11) {
      grid-area: 4 / 23 / 11 / 27;
      background-color: $square-green;
      align-content: space-around;
      justify-items: center;
    }
    &:nth-child(12) {
      grid-area: 11 / 20 / 20	/ 30;
      background-size: contain;
    }
    &:nth-child(13) {
      grid-area: 20 / 24 / 26 / 28;
      display: grid;
      align-items: center;

      a {

        i {
          font-size: 4rem;
        }

      }

    }

  }

}